<%
  # Compact navigation partial for the subpages.
  # Expected argument:
  #  - navitems: array of navigation items containing url and title.
%>

<nav class="pure-menu pure-menu-open pure-menu-horizontal">
  <% if parent = @item.parent %>
    <a class="pure-menu-heading" href="<%= parent.path %>">
      <%= parent[:title] %>
    </a>
  <% end %>
  <ul>
    <% @navitems.each do |nav| %>
      <li class="<%= nav[:url] == @item.identifier ? 'pure-menu-selected' : '' %>">
        <a href="<%= nav[:url] %>"><%= nav[:title] %></a>
      </li>
    <% end %>
  </ul>
</nav>
